body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* HEADER */
header {
  background: #0b0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  border-bottom: 2px solid gold;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: gold;
}

.logo span {
  color: #fff;
}

nav a {
  margin-left: 25px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

nav a:hover {
  color: gold;
}

/* TELAS */
.tela {
  display: none;
  padding: 60px;
  max-width: 1400px;
  margin: auto;
}

.ativa {
  display: block;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: gold;
  font-size: 26px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

/* CARD */
.card {
  background: #111;
  border: 1px solid #333;
  transition: 0.3s;
  border-radius: 6px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.06);
  border-color: gold;
  box-shadow: 0 0 15px gold;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card .info {
  padding: 18px;
}

.card h3 {
  margin: 0 0 8px 0;
  color: #fff;
}

.card p {
  color: #aaa;
  margin: 0 0 8px 0;
}

.card strong {
  color: gold;
  font-size: 18px;
}

/* FORM */
form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, button {
  padding: 12px;
  border-radius: 6px;
  border: none;
}

button {
  background: gold;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

/* TABELA */
table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}

th {
  background: #111;
  color: gold;
}
