body { font-family: Arial; padding: 20px; }
.form input { margin: 5px; }
table { border-collapse: collapse; width: 100%; margin-top: 20px; }
table, th, td { border: 1px solid black; padding: 5px; text-align: center; }
button { cursor: pointer; }
